.description {
  text-align: center;
  margin-bottom: 100px;
  &__title {
    font-size: 40px;
    font-weight: 700;
    color: $black-primary;
    margin-bottom: 50px;
    @include media-breakpoint-up(xl) {
      font-size: 50px;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    max-width: 800px;
    color: $grey-primary;
    line-height: 1.5em;
    margin: 0 auto;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }
    &.first {
      margin-bottom: 50px;
    }
    &.second {
      margin-bottom: 30px;
    }
  }

  &__list {
    max-width: 600px;
    margin: 0 auto;
    text-align: start;
    &_item {
      font-size: 20px;
      color: $grey-secondary;
      margin-bottom: 15px;
      font-weight: 600;
      list-style-image: url('img/list_item.svg');
    }
  }
}