.price {
  &__container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(xl) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}