.section {
  @include media-breakpoint-up(xl) {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}