@import "bootstrap";
@import "styles/_variables.scss";

// Block
@import "styles/main_block";
@import "styles/description";
@import "styles/price";
@import "styles/price_card";
@import "styles/section";
@import "styles/main";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black-primary;
}

body {
  font-family: $font-main;
  overflow-x: hidden;
  color: $black-primary;
}





//#container {
//  height: 100vh;
//  display: flex;
//  align-items: center;
//  filter: url(#threshold) blur(0.6px);
//}
//#text1, #text2 {
//  position: absolute;
//  width: 100%;
//  display: inline-block;
//  font-size: 220px;
//  font-weight: 700;
//  text-align: center;
//  user-select: none;
//}