@import "bootstrap";
@import "styles/_variables.scss";

// Block
@import "styles/main_block";
@import "styles/description";
@import "styles/price";
@import "styles/price_card";
@import "styles/section";
@import "styles/main";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black-primary;
}

body {
  font-family: $font-main;
  overflow-x: hidden;
  color: $black-primary;
}